/*INTERFACE*/
/*스타일 묶음*/

/*=======color=======*/

/*----main----*/
$color-main:#13A872;
$color-primary:#B5DD42;
$color-white: #ffffff;
$color-black: #222222;

/*----bg----*/
$color-bg-dark: #111111;
$color-bg-light: #FFFFFF;

/*----gray scale----*/
$color-gray-outline: #9d9d9d;
$color-gray-01: #e1e1e1;
$color-gray-02: #F1F1F1;
$color-gray-03: #F8F8F8;

/*----color-font-light----*/
$color-font-light-title:#222222;
$color-font-light-sub:#393939;
$color-font-light-text:#606060;
$color-font-light-dim:#cccccc;



/*----font system----*/
@mixin font-mainVisualTitle{
    font-size: 48px;
    @media screen and (min-width:768px){
        font-size: 5.66vw;}
    @media screen and (min-width:1200px){
        /*font-size: 47px;*/ font-size: 88px;}
}
@mixin font-bigTitle{
    font-size: 42px;
    @media screen and (min-width:768px){
        font-size: 5.4688vw;}
    @media screen and (min-width:1200px){
        /*font-size: 47px;*/ font-size: 76px;}
}

@mixin font-title{
    font-size: 30px;
    @media screen and (min-width:768px){
        font-size: 3.648vw;}
    @media screen and (min-width:1200px){
        /*font-size: 42px;*/ font-size: 52px;}
}
@mixin font-middleTitle{
    font-size: 24px;
    @media screen and (min-width:768px){
        font-size: 3.2vw;}
    @media screen and (min-width:1200px){
        font-size: 44px;}
}
@mixin font-subTitle{
    font-size: 20px;
    @media screen and (min-width:768px){
        font-size: 2.734vw;}
    @media screen and (min-width:1200px){
        font-size: 28px;}
}
@mixin font-deskBasic{
    font-size: 17px;
    @media screen and (max-width:320px){
        font-size: 16px;}
    @media screen and (min-width:768px){
        font-size: 2vw;}
    @media screen and (min-width:1200px){
        font-size: 22px;}
}
@mixin font-basic{
    font-size: 14px;
    @media screen and (max-width:320px){
        font-size: 13px;}
    @media screen and (min-width:768px){
        font-size: 1.823vw;}
    @media screen and (min-width:980px){
        font-size: 18px;}
}
@mixin font-small{
    font-size: 13px;
    @media screen and (max-width:320px){
        font-size: 12px;}
    @media screen and (min-width:768px){
        font-size: 1.448vw;}
    @media screen and (min-width:1200px){
        font-size: 14px;}
}


/*----공통스타일----*/

// .flex-between{ @include flex-between;}
// .flex{ @include flex;}
// .flex-column{ @include flex-column;}


/*----Media Query----*/

/*max-width:320px*/
@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
}
/*min-width:768px*/
@mixin tablet-mini {
    @media (min-width: #{$breakpoint-tablet-mini}) {
      @content;
    }
}
/*min-width:980px*/
@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) {
      @content;
    }
}
/*min-width:1200px*/
@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
}